
    <title>HAKKIMIZDA</title>
    <link rel="stylesheet" href="~/Site/about.css" media="screen">
    <section class="u-clearfix u-white u-section-1" id="sec-d689">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-image u-layout-cell u-left-cell u-size-32-md u-size-32-sm u-size-32-xs u-size-34-lg u-size-34-xl u-image-1" data-image-width="1136" data-image-height="667">
                            <div class="u-container-layout u-valign-top u-container-layout-1">
                                <div class="u-gradient u-shape u-shape-circle u-shape-1"></div>
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-right-cell u-size-26-lg u-size-26-xl u-size-28-md u-size-28-sm u-size-28-xs u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-2">
                                <h1 class="u-text u-text-1">Hakkımızda</h1>
                                <p class="u-text u-text-2">
                                    Birçok hizmeti içinde barındıran oluşumumuz, Sağlıkla yaşama kavuşma hayali kuran ancak bir türlü hayallerine kavuşamayan danışanlarımızın hayallerini gerçekleştirmek amacıyla kurulmuştur.<br>
                                    <br>Her geçen gün daha çok büyüyen bu oluşumun devam etmesi ve aktifliğini yitirmemesi adına sizler için çalışan ekibimiz her daim elinden geleni yapmaktadır :)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>