<title>İLETİŞİM</title>
    <link rel="stylesheet" href="~/Site/contact.css" media="screen">
    <section class="u-align-center u-clearfix u-section-1" id="sec-1f82">
        <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <div class="u-align-center u-container-style u-layout-cell u-size-20 u-layout-cell-1">
                        <div class="u-container-layout u-valign-top u-container-layout-1">
                            <h6 class="u-text u-text-default u-text-1">BİZİMLE İLETİŞİME GEÇ</h6>
                            <div class="u-expanded-width u-form u-form-1">
                                <form action="#" method="POST" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 0;" source="custom" name="form">
                                    <div class="u-form-group u-form-name">
                                        <label for="name-daf4" class="u-label">Ad - Soyad</label>
                                        <input type="text" placeholder="Adınızı ve soyadınızı giriniz." id="name-daf4" name="name" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white" required="">
                                    </div>
                                    <div class="u-form-email u-form-group">
                                        <label for="email-daf4" class="u-label">E-mail</label>
                                        <input type="email" placeholder="Geçerli bir e-mail adresi giriniz." id="email-daf4" name="email" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white" required="">
                                    </div>
                                    <div class="u-form-group u-form-message">
                                        <label for="message-daf4" class="u-label">Mesaj</label>
                                        <textarea placeholder="İletmek istediğiniz mesajınızı buraya girebilirsiniz." rows="4" cols="50" id="message-daf4" name="message" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white" required=""></textarea>
                                    </div>
                                    <div class="u-form-agree u-form-group u-form-group-4">
                                        <input type="checkbox" id="agree-f183" name="agree" class="u-agree-checkbox" required="">
                                        <label for="agree-f183" class="u-label">
                                            <a href="https://www.mevzuat.gov.tr/mevzuat?MevzuatNo=6698&MevzuatTur=1&MevzuatTertip=5" target="_blank">Hizmet Şartlarını</a> kabul ediyorum.
                                        </label>
                                    </div>
                                    <div class="u-align-center u-form-group u-form-submit">
                                        <a href="#" class="u-active-palette-5-dark-2 u-border-none u-btn u-btn-submit u-button-style u-hover-palette-5-dark-2 u-palette-3-base u-btn-1">Gönder</a>
                                        <input type="submit" value="submit" class="u-form-control-hidden">
                                    </div>
                                    <div class="u-form-send-message u-form-send-success"> Teşekkürler! Mesajınız gönderildi. </div>
                                    <div class="u-form-send-error u-form-send-message"> Mesajınız gönderilemedi. Lütfen tekrar deneyiniz! </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-layout-cell u-palette-5-dark-3 u-size-20 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <h6 class="u-text u-text-default u-text-palette-3-base u-text-2">
                                Müşterİ Hİzmetlerİ<br>
                            </h6>
                            <p class="u-text u-text-3">
                                1 (234) 567-891<br>1 (234) 987-654
                            </p>
                            <h6 class="u-text u-text-default u-text-palette-3-base u-text-4">Konum</h6>
                            <p class="u-text u-text-5">
                                121 Rock Street, 21 Avenue,<br>New York, NY 92103-9000
                            </p>

                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-3">
                        <div class="u-container-layout u-container-layout-3">
                            <div class="u-expanded u-grey-light-2 u-map">
                                <img src="~/Site/images/websiteplanet-qr.jpeg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>