
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Site/login.css">
    <title>GİRİŞ YAP</title>
</head>
<body>
    <img src="~/Site/images/EkranAlnts.JPG" class="u-logo-image u-logo-image-1" width="80px" height="80px">

    <h2 class="title">BİR TIKLA SAĞLIKLI YAŞAMA BAŞLA</h2>
    <br><br><br>
    <div class="container">
        <form >
            <div class="row">
                <h2 class="title2">GİRİŞ YAP</h2>
                <div class="col">
                    <input type="email" name="email" placeholder="E-mail adresinizi giriniz." required>
                    <input type="password" name="password" placeholder="Parolanızı giriniz." required>
                    <input type="submit" value="Giriş Yap">
                </div>

            </div>
        </form>
    </div>

    <div class="bottom-container">
        <div class="row">
            <div class="col">
                <a href="/Login/SignUp" style="color:white" class="btn">Üye Ol</a>
            </div>
            <div class="col">
                <a href="#" style="color:white" class="btn">Parolayı unuttum?</a>
            </div>
        </div>
    </div>
    <br>
    <div class="footer-basic">
        <footer>
            <p class="copyright">
                <b>Danışma Hattı:</b> <br><br> <br> 0 (234) 567-891<br>0 (234) 987-654<br>
                <br><br>
                <b>Çalışma Saatleri</b> <br><br> Pazartesi - Cuma: 08.00 - 18.00<br>Cumartesi: 09.00- 17.00<br> <br>
                <br>© 2021 Tüm Hakları Saklıdır.
            </p>
        </footer>
    </div>

</body>
</html>
